:root {

    --fz:24px;
    --fzMd:16px;
    --fzSm:14px;
   
    --white:#fff;
    --grey:#dddddd;
    --itemBg:#15151D;
    --primaryGreen: #29A643;
    --successGreen: #3c763d;
    --lightGreen: #b1ffc2;
    --red: #d51820;
    --chevronDown:#ffa3a6;
    --lightYellow:#fff8d6;
    --black: #000;
    --boxBg: #0b0819;
    --successBox: #f3fef4;
    --sectionBg:#f4f4f4;
    --darkText: #252525;
    --socialGrey: #bdbdbd;
    --textGrey: #888888;
    --disabled: #ccc;

}
