
.hideMd {
    @include mediaDown(md) {
        display: none !important;
    }
}

.showMd {
    @include mediaDown(md) {
        display: none !important;
    }
}

.showSm {
    @include mediaDown(xs) {
        display: none !important;
    }
}

.showLg {
    @include mediaDown(lg) {
        display: none !important;
    }
}

.hideMd {
    display: none;

    @include media(md) {
        display: block;
    }
}

.hidden {
    display: none;
}